%table#throughput
  %tr
    %th.date
    %th.stories Stories / 3 weeks
    %th.points Points / 3 weeks
  - @throughput_history.each do |throughput|
    %tr{:class => cycle('odd', 'even')}
      %td.date
        = format_date throughput.date
      %td.stories
        = throughput.stories
      %td.points
        = throughput.points
