

/ .row
/   .span14
.hero-unit
  %h1 Estimate With Confidence

  %p Orso helps you use your estimates to make better estimates. It makes it easy to record your estimates and actuals. It provides a tool to help you when you're estimating. And it provides you reports to help you adjust your approaches to estimation.

  %a.btn.primary.large.push-right{href:new_user_registration_path} Sign Up For Beta

%ul.media-grid
  %li
    %a{href:"#"}
    
      != image_tag "http://lorempixum.com/g/210/150/abstract", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "http://lorempixum.com/g/210/150/food", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "http://lorempixum.com/g/210/150/city", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "http://lorempixum.com/g/210/150/nature", class:'thumbnail'


