.hero-unit
  %h1 Track Your Ideas

  %p Tracking your ideas can be hard and painful. Idea Tracker helps you by making it easy to track your ideas. It also helps track your ideas!

  %a.btn.primary.large.push-right{href:new_user_registration_path} Sign Up For Beta

= link_to "sign in with google", user_omniauth_authorize_path(:google)