

/ .row
/   .span14
.hero-unit
  %h1 Estimate With Confidence

  %p Orso helps you use your estimates to make better estimates. It makes it easy to record your estimates and actuals. It provides a tool to help you when you're estimating. And it provides you reports to help you adjust your approaches to estimation.

  %a.btn.primary.large.push-right{:href => new_user_registration_path} Sign up now

%ul.media-grid
  %li
    %a{:href => "#"}
      != image_tag "http://placehold.it/210x150"
  %li
    %a{:href => "#"}
      != image_tag "http://placehold.it/210x150"
  %li
    %a{:href => "#"}
      != image_tag "http://placehold.it/210x150"
  %li
    %a{:href => "#"}
      != image_tag "http://placehold.it/210x150"


