.hero-unit
  %h1 Track Your Ideas

  %p Tracking your ideas can be hard and painful. Idea Tracker helps you by making it easy to track your ideas. It also helps track your ideas!

= link_to "sign in with google", user_omniauth_authorize_path(:google)
