

/ .row
/   .span14
.hero-unit
  %h1 Estimate With Confidence

  %p Estimating new development work can be hard and painful. Orso helps you by making it easy to compare future work with work you've already done. It also helps you spot trends in your estimating so that you can get better.

  %a.btn.primary.large.push-right{href:new_user_registration_path} Sign Up For Beta

%ul.media-grid
  %li
    %a{href:"#"}
    
      != image_tag "screenshots/estimates.png", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "screenshots/estimation.png", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "screenshots/history.png", class:'thumbnail'
  %li
    %a{href:"#"}
      != image_tag "screenshots/trends.png", class:'thumbnail'


