.page-header
  %h1 Privacy Policy

.row
  .span14
    %ul
      %li We won't give your personal information to anyone without your explicit permission.
      %li We may collect usage data, such as when you clicked on a link or how often you visit the site, in order to understand how to make the application better and to detect errors. We will never share personally identifiable usage data with any third party.
      %li If you delete your account, all of your personal data will be removed from the running system immediately. There may be backups or logs that continue to have some pieces of your information, but we won't share those with anyone.
      %li 
        This application and its data is hosted on heroku, which is a well-known and trusted hosting provider. You can learn more about heroku's security at 
        %a{:href => 'http://policy.heroku.com/security'} http://policy.heroku.com/security
