%tr{:class => cycle('odd', 'even')}
  %td.title
    != link_to format_title(story.title), edit_story_path(story)
  %td.estimate
    = format_estimate story.estimate
  %td.finished
    = format_date story.finished
  %td.hours_worked
    = story.hours_worked
