- content_for :head do
  != javascript_include_tag 'story_popup.js'

  :javascript
    $(document).ready(function() {
      $('.subnav .history').addClass('active');
      $('#stories').tablesorter({ sortList: [[0,0]] });
      
      // What to do when the editing popup returns successfully
      $('body').bind('story_saved', function(e, story_data) {
        location.reload();
      });

    });
    
  :css
    tr.underestimated, tr.underestimated td {
        background-color: #ffe8e8 !important;
    }

    tr.overestimated, tr.overestimated td {
        background-color: #ffffe0 !important;
    }



- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]


%h2 All estimates

%table#stories.zebra-striped
  %thead
    %tr
      %th.title Title
  %tbody
    != render :partial => 'story', :collection => @stories
!= render :partial => 'form', :locals => {:all_fields => true}
