- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .history').addClass('active');
      $('#stories').tablesorter({ sortList: [[1,0]] });
    });
    
  :css
    tr.underestimated, tr.underestimated td {
        background-color: #ffe8e8 !important;
    }

    tr.overestimated, tr.overestimated td {
        background-color: #ffffe0 !important;
    }




- if current_project.stories.empty?
  %p
    You haven't entered any estimates. 
    != link_to 'Add some', project_stories_path
    or 
    != link_to 'import them from a CSV file', new_project_import_path
- else

  %h2 All estimates
  
  %table#stories.zebra-striped
    %thead
      %tr
        %th.title Title
        %th.estimate Estimate
        %th.finished Finished
        %th.hours_worked Hours Worked
        %th.status Hours vs. Average
    %tbody
      != render :partial => 'story', :collection => @stories
