- content_for :head do
  != javascript_include_tag 'idea_popup.js'

  :javascript
    $(document).ready(function() {
      $('.subnav .history').addClass('active');
      $('#ideas').tablesorter({ sortList: [[0,0]] });
      
      // What to do when the editing popup returns successfully
      $('body').bind('idea_saved', function(e, idea_data) {
        location.reload();
      });

    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]


%h2 All estimates

%table#ideas.zebra-striped
  %thead
    %tr
      %th.title Title
  %tbody
    != render :partial => 'idea', :collection => @ideas
!= render :partial => 'form', :locals => {:all_fields => true}
