
/*
// Tech office from kuler
$scheme-1: rgb(89,82,65); // dark gray
$scheme-2: rgb(184,174,156); // light gray
$scheme-3: rgb(255,255,255); // white
$scheme-4: rgb(172,207,204); // light blue
$scheme-5: rgb(138,9,23); // red
*/

/* Make room for top bar */
.main-container .content {
  padding-top: 50px;
}

/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

#estimation_view h2 {
  float: left;
  font-size: 36pt;
  margin: 0 12pt 0 0;
}

#estimation_view .story {
    list-style: none;
    font-size: 14pt;
    line-height: 1.5em;
}

#estimation_view .title, #estimation_view .estimate {
  display: inline;
}    

#estimation_view .estimate {
  font-size: 0.8em;
  font-weight: normal;
}


#estimation_view .estimate .under {
    color: #500000;
}

#estimation_view .estimate .over {
    color: #505000;
}

#estimation_view ul {
    margin: 0px;
}

#estimation_view form {
    line-height: 0px;
}

#estimation_view h2 {
    font-size: 75px;
}

#estimation_view {
    position:relative;
    overflow:hidden;
    width: 960px;
    height:252px;
}

#estimation_view .items {
    width:20000em;
    position:absolute;
}

.items div {
    float:left;
    width: 1060px;
}