/* line 4, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 32, ../../app/stylesheets/screen.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-color: #accfcc;
}
/* line 51, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #004c99;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #bf00ff;
}
/* line 63, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 89, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.158%, rgba(100, 100, 225, 0.25)), color-stop(3.158%, rgba(0, 0, 0, 0)), color-stop(4.211%, rgba(0, 0, 0, 0)), color-stop(4.211%, rgba(100, 100, 225, 0.25)), color-stop(7.368%, rgba(100, 100, 225, 0.25)), color-stop(7.368%, rgba(0, 0, 0, 0)), color-stop(8.421%, rgba(0, 0, 0, 0)), color-stop(8.421%, rgba(100, 100, 225, 0.25)), color-stop(11.579%, rgba(100, 100, 225, 0.25)), color-stop(11.579%, rgba(0, 0, 0, 0)), color-stop(12.632%, rgba(0, 0, 0, 0)), color-stop(12.632%, rgba(100, 100, 225, 0.25)), color-stop(15.789%, rgba(100, 100, 225, 0.25)), color-stop(15.789%, rgba(0, 0, 0, 0)), color-stop(16.842%, rgba(0, 0, 0, 0)), color-stop(16.842%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(21.053%, rgba(0, 0, 0, 0)), color-stop(21.053%, rgba(100, 100, 225, 0.25)), color-stop(24.211%, rgba(100, 100, 225, 0.25)), color-stop(24.211%, rgba(0, 0, 0, 0)), color-stop(25.263%, rgba(0, 0, 0, 0)), color-stop(25.263%, rgba(100, 100, 225, 0.25)), color-stop(28.421%, rgba(100, 100, 225, 0.25)), color-stop(28.421%, rgba(0, 0, 0, 0)), color-stop(29.474%, rgba(0, 0, 0, 0)), color-stop(29.474%, rgba(100, 100, 225, 0.25)), color-stop(32.632%, rgba(100, 100, 225, 0.25)), color-stop(32.632%, rgba(0, 0, 0, 0)), color-stop(33.684%, rgba(0, 0, 0, 0)), color-stop(33.684%, rgba(100, 100, 225, 0.25)), color-stop(36.842%, rgba(100, 100, 225, 0.25)), color-stop(36.842%, rgba(0, 0, 0, 0)), color-stop(37.895%, rgba(0, 0, 0, 0)), color-stop(37.895%, rgba(100, 100, 225, 0.25)), color-stop(41.053%, rgba(100, 100, 225, 0.25)), color-stop(41.053%, rgba(0, 0, 0, 0)), color-stop(42.105%, rgba(0, 0, 0, 0)), color-stop(42.105%, rgba(100, 100, 225, 0.25)), color-stop(45.263%, rgba(100, 100, 225, 0.25)), color-stop(45.263%, rgba(0, 0, 0, 0)), color-stop(46.316%, rgba(0, 0, 0, 0)), color-stop(46.316%, rgba(100, 100, 225, 0.25)), color-stop(49.474%, rgba(100, 100, 225, 0.25)), color-stop(49.474%, rgba(0, 0, 0, 0)), color-stop(50.526%, rgba(0, 0, 0, 0)), color-stop(50.526%, rgba(100, 100, 225, 0.25)), color-stop(53.684%, rgba(100, 100, 225, 0.25)), color-stop(53.684%, rgba(0, 0, 0, 0)), color-stop(54.737%, rgba(0, 0, 0, 0)), color-stop(54.737%, rgba(100, 100, 225, 0.25)), color-stop(57.895%, rgba(100, 100, 225, 0.25)), color-stop(57.895%, rgba(0, 0, 0, 0)), color-stop(58.947%, rgba(0, 0, 0, 0)), color-stop(58.947%, rgba(100, 100, 225, 0.25)), color-stop(62.105%, rgba(100, 100, 225, 0.25)), color-stop(62.105%, rgba(0, 0, 0, 0)), color-stop(63.158%, rgba(0, 0, 0, 0)), color-stop(63.158%, rgba(100, 100, 225, 0.25)), color-stop(66.316%, rgba(100, 100, 225, 0.25)), color-stop(66.316%, rgba(0, 0, 0, 0)), color-stop(67.368%, rgba(0, 0, 0, 0)), color-stop(67.368%, rgba(100, 100, 225, 0.25)), color-stop(70.526%, rgba(100, 100, 225, 0.25)), color-stop(70.526%, rgba(0, 0, 0, 0)), color-stop(71.579%, rgba(0, 0, 0, 0)), color-stop(71.579%, rgba(100, 100, 225, 0.25)), color-stop(74.737%, rgba(100, 100, 225, 0.25)), color-stop(74.737%, rgba(0, 0, 0, 0)), color-stop(75.789%, rgba(0, 0, 0, 0)), color-stop(75.789%, rgba(100, 100, 225, 0.25)), color-stop(78.947%, rgba(100, 100, 225, 0.25)), color-stop(78.947%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(83.158%, rgba(100, 100, 225, 0.25)), color-stop(83.158%, rgba(0, 0, 0, 0)), color-stop(84.211%, rgba(0, 0, 0, 0)), color-stop(84.211%, rgba(100, 100, 225, 0.25)), color-stop(87.368%, rgba(100, 100, 225, 0.25)), color-stop(87.368%, rgba(0, 0, 0, 0)), color-stop(88.421%, rgba(0, 0, 0, 0)), color-stop(88.421%, rgba(100, 100, 225, 0.25)), color-stop(91.579%, rgba(100, 100, 225, 0.25)), color-stop(91.579%, rgba(0, 0, 0, 0)), color-stop(92.632%, rgba(0, 0, 0, 0)), color-stop(92.632%, rgba(100, 100, 225, 0.25)), color-stop(95.789%, rgba(100, 100, 225, 0.25)), color-stop(95.789%, rgba(0, 0, 0, 0)), color-stop(96.842%, rgba(0, 0, 0, 0)), color-stop(96.842%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.158%, rgba(0, 0, 0, 0) 3.158%, rgba(0, 0, 0, 0) 4.211%, rgba(100, 100, 225, 0.25) 4.211%, rgba(100, 100, 225, 0.25) 7.368%, rgba(0, 0, 0, 0) 7.368%, rgba(0, 0, 0, 0) 8.421%, rgba(100, 100, 225, 0.25) 8.421%, rgba(100, 100, 225, 0.25) 11.579%, rgba(0, 0, 0, 0) 11.579%, rgba(0, 0, 0, 0) 12.632%, rgba(100, 100, 225, 0.25) 12.632%, rgba(100, 100, 225, 0.25) 15.789%, rgba(0, 0, 0, 0) 15.789%, rgba(0, 0, 0, 0) 16.842%, rgba(100, 100, 225, 0.25) 16.842%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 24.211%, rgba(0, 0, 0, 0) 24.211%, rgba(0, 0, 0, 0) 25.263%, rgba(100, 100, 225, 0.25) 25.263%, rgba(100, 100, 225, 0.25) 28.421%, rgba(0, 0, 0, 0) 28.421%, rgba(0, 0, 0, 0) 29.474%, rgba(100, 100, 225, 0.25) 29.474%, rgba(100, 100, 225, 0.25) 32.632%, rgba(0, 0, 0, 0) 32.632%, rgba(0, 0, 0, 0) 33.684%, rgba(100, 100, 225, 0.25) 33.684%, rgba(100, 100, 225, 0.25) 36.842%, rgba(0, 0, 0, 0) 36.842%, rgba(0, 0, 0, 0) 37.895%, rgba(100, 100, 225, 0.25) 37.895%, rgba(100, 100, 225, 0.25) 41.053%, rgba(0, 0, 0, 0) 41.053%, rgba(0, 0, 0, 0) 42.105%, rgba(100, 100, 225, 0.25) 42.105%, rgba(100, 100, 225, 0.25) 45.263%, rgba(0, 0, 0, 0) 45.263%, rgba(0, 0, 0, 0) 46.316%, rgba(100, 100, 225, 0.25) 46.316%, rgba(100, 100, 225, 0.25) 49.474%, rgba(0, 0, 0, 0) 49.474%, rgba(0, 0, 0, 0) 50.526%, rgba(100, 100, 225, 0.25) 50.526%, rgba(100, 100, 225, 0.25) 53.684%, rgba(0, 0, 0, 0) 53.684%, rgba(0, 0, 0, 0) 54.737%, rgba(100, 100, 225, 0.25) 54.737%, rgba(100, 100, 225, 0.25) 57.895%, rgba(0, 0, 0, 0) 57.895%, rgba(0, 0, 0, 0) 58.947%, rgba(100, 100, 225, 0.25) 58.947%, rgba(100, 100, 225, 0.25) 62.105%, rgba(0, 0, 0, 0) 62.105%, rgba(0, 0, 0, 0) 63.158%, rgba(100, 100, 225, 0.25) 63.158%, rgba(100, 100, 225, 0.25) 66.316%, rgba(0, 0, 0, 0) 66.316%, rgba(0, 0, 0, 0) 67.368%, rgba(100, 100, 225, 0.25) 67.368%, rgba(100, 100, 225, 0.25) 70.526%, rgba(0, 0, 0, 0) 70.526%, rgba(0, 0, 0, 0) 71.579%, rgba(100, 100, 225, 0.25) 71.579%, rgba(100, 100, 225, 0.25) 74.737%, rgba(0, 0, 0, 0) 74.737%, rgba(0, 0, 0, 0) 75.789%, rgba(100, 100, 225, 0.25) 75.789%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.158%, rgba(0, 0, 0, 0) 83.158%, rgba(0, 0, 0, 0) 84.211%, rgba(100, 100, 225, 0.25) 84.211%, rgba(100, 100, 225, 0.25) 87.368%, rgba(0, 0, 0, 0) 87.368%, rgba(0, 0, 0, 0) 88.421%, rgba(100, 100, 225, 0.25) 88.421%, rgba(100, 100, 225, 0.25) 91.579%, rgba(0, 0, 0, 0) 91.579%, rgba(0, 0, 0, 0) 92.632%, rgba(100, 100, 225, 0.25) 92.632%, rgba(100, 100, 225, 0.25) 95.789%, rgba(0, 0, 0, 0) 95.789%, rgba(0, 0, 0, 0) 96.842%, rgba(100, 100, 225, 0.25) 96.842%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.158%, rgba(0, 0, 0, 0) 3.158%, rgba(0, 0, 0, 0) 4.211%, rgba(100, 100, 225, 0.25) 4.211%, rgba(100, 100, 225, 0.25) 7.368%, rgba(0, 0, 0, 0) 7.368%, rgba(0, 0, 0, 0) 8.421%, rgba(100, 100, 225, 0.25) 8.421%, rgba(100, 100, 225, 0.25) 11.579%, rgba(0, 0, 0, 0) 11.579%, rgba(0, 0, 0, 0) 12.632%, rgba(100, 100, 225, 0.25) 12.632%, rgba(100, 100, 225, 0.25) 15.789%, rgba(0, 0, 0, 0) 15.789%, rgba(0, 0, 0, 0) 16.842%, rgba(100, 100, 225, 0.25) 16.842%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 24.211%, rgba(0, 0, 0, 0) 24.211%, rgba(0, 0, 0, 0) 25.263%, rgba(100, 100, 225, 0.25) 25.263%, rgba(100, 100, 225, 0.25) 28.421%, rgba(0, 0, 0, 0) 28.421%, rgba(0, 0, 0, 0) 29.474%, rgba(100, 100, 225, 0.25) 29.474%, rgba(100, 100, 225, 0.25) 32.632%, rgba(0, 0, 0, 0) 32.632%, rgba(0, 0, 0, 0) 33.684%, rgba(100, 100, 225, 0.25) 33.684%, rgba(100, 100, 225, 0.25) 36.842%, rgba(0, 0, 0, 0) 36.842%, rgba(0, 0, 0, 0) 37.895%, rgba(100, 100, 225, 0.25) 37.895%, rgba(100, 100, 225, 0.25) 41.053%, rgba(0, 0, 0, 0) 41.053%, rgba(0, 0, 0, 0) 42.105%, rgba(100, 100, 225, 0.25) 42.105%, rgba(100, 100, 225, 0.25) 45.263%, rgba(0, 0, 0, 0) 45.263%, rgba(0, 0, 0, 0) 46.316%, rgba(100, 100, 225, 0.25) 46.316%, rgba(100, 100, 225, 0.25) 49.474%, rgba(0, 0, 0, 0) 49.474%, rgba(0, 0, 0, 0) 50.526%, rgba(100, 100, 225, 0.25) 50.526%, rgba(100, 100, 225, 0.25) 53.684%, rgba(0, 0, 0, 0) 53.684%, rgba(0, 0, 0, 0) 54.737%, rgba(100, 100, 225, 0.25) 54.737%, rgba(100, 100, 225, 0.25) 57.895%, rgba(0, 0, 0, 0) 57.895%, rgba(0, 0, 0, 0) 58.947%, rgba(100, 100, 225, 0.25) 58.947%, rgba(100, 100, 225, 0.25) 62.105%, rgba(0, 0, 0, 0) 62.105%, rgba(0, 0, 0, 0) 63.158%, rgba(100, 100, 225, 0.25) 63.158%, rgba(100, 100, 225, 0.25) 66.316%, rgba(0, 0, 0, 0) 66.316%, rgba(0, 0, 0, 0) 67.368%, rgba(100, 100, 225, 0.25) 67.368%, rgba(100, 100, 225, 0.25) 70.526%, rgba(0, 0, 0, 0) 70.526%, rgba(0, 0, 0, 0) 71.579%, rgba(100, 100, 225, 0.25) 71.579%, rgba(100, 100, 225, 0.25) 74.737%, rgba(0, 0, 0, 0) 74.737%, rgba(0, 0, 0, 0) 75.789%, rgba(100, 100, 225, 0.25) 75.789%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.158%, rgba(0, 0, 0, 0) 83.158%, rgba(0, 0, 0, 0) 84.211%, rgba(100, 100, 225, 0.25) 84.211%, rgba(100, 100, 225, 0.25) 87.368%, rgba(0, 0, 0, 0) 87.368%, rgba(0, 0, 0, 0) 88.421%, rgba(100, 100, 225, 0.25) 88.421%, rgba(100, 100, 225, 0.25) 91.579%, rgba(0, 0, 0, 0) 91.579%, rgba(0, 0, 0, 0) 92.632%, rgba(100, 100, 225, 0.25) 92.632%, rgba(100, 100, 225, 0.25) 95.789%, rgba(0, 0, 0, 0) 95.789%, rgba(0, 0, 0, 0) 96.842%, rgba(100, 100, 225, 0.25) 96.842%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.158%, rgba(0, 0, 0, 0) 3.158%, rgba(0, 0, 0, 0) 4.211%, rgba(100, 100, 225, 0.25) 4.211%, rgba(100, 100, 225, 0.25) 7.368%, rgba(0, 0, 0, 0) 7.368%, rgba(0, 0, 0, 0) 8.421%, rgba(100, 100, 225, 0.25) 8.421%, rgba(100, 100, 225, 0.25) 11.579%, rgba(0, 0, 0, 0) 11.579%, rgba(0, 0, 0, 0) 12.632%, rgba(100, 100, 225, 0.25) 12.632%, rgba(100, 100, 225, 0.25) 15.789%, rgba(0, 0, 0, 0) 15.789%, rgba(0, 0, 0, 0) 16.842%, rgba(100, 100, 225, 0.25) 16.842%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 24.211%, rgba(0, 0, 0, 0) 24.211%, rgba(0, 0, 0, 0) 25.263%, rgba(100, 100, 225, 0.25) 25.263%, rgba(100, 100, 225, 0.25) 28.421%, rgba(0, 0, 0, 0) 28.421%, rgba(0, 0, 0, 0) 29.474%, rgba(100, 100, 225, 0.25) 29.474%, rgba(100, 100, 225, 0.25) 32.632%, rgba(0, 0, 0, 0) 32.632%, rgba(0, 0, 0, 0) 33.684%, rgba(100, 100, 225, 0.25) 33.684%, rgba(100, 100, 225, 0.25) 36.842%, rgba(0, 0, 0, 0) 36.842%, rgba(0, 0, 0, 0) 37.895%, rgba(100, 100, 225, 0.25) 37.895%, rgba(100, 100, 225, 0.25) 41.053%, rgba(0, 0, 0, 0) 41.053%, rgba(0, 0, 0, 0) 42.105%, rgba(100, 100, 225, 0.25) 42.105%, rgba(100, 100, 225, 0.25) 45.263%, rgba(0, 0, 0, 0) 45.263%, rgba(0, 0, 0, 0) 46.316%, rgba(100, 100, 225, 0.25) 46.316%, rgba(100, 100, 225, 0.25) 49.474%, rgba(0, 0, 0, 0) 49.474%, rgba(0, 0, 0, 0) 50.526%, rgba(100, 100, 225, 0.25) 50.526%, rgba(100, 100, 225, 0.25) 53.684%, rgba(0, 0, 0, 0) 53.684%, rgba(0, 0, 0, 0) 54.737%, rgba(100, 100, 225, 0.25) 54.737%, rgba(100, 100, 225, 0.25) 57.895%, rgba(0, 0, 0, 0) 57.895%, rgba(0, 0, 0, 0) 58.947%, rgba(100, 100, 225, 0.25) 58.947%, rgba(100, 100, 225, 0.25) 62.105%, rgba(0, 0, 0, 0) 62.105%, rgba(0, 0, 0, 0) 63.158%, rgba(100, 100, 225, 0.25) 63.158%, rgba(100, 100, 225, 0.25) 66.316%, rgba(0, 0, 0, 0) 66.316%, rgba(0, 0, 0, 0) 67.368%, rgba(100, 100, 225, 0.25) 67.368%, rgba(100, 100, 225, 0.25) 70.526%, rgba(0, 0, 0, 0) 70.526%, rgba(0, 0, 0, 0) 71.579%, rgba(100, 100, 225, 0.25) 71.579%, rgba(100, 100, 225, 0.25) 74.737%, rgba(0, 0, 0, 0) 74.737%, rgba(0, 0, 0, 0) 75.789%, rgba(100, 100, 225, 0.25) 75.789%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.158%, rgba(0, 0, 0, 0) 83.158%, rgba(0, 0, 0, 0) 84.211%, rgba(100, 100, 225, 0.25) 84.211%, rgba(100, 100, 225, 0.25) 87.368%, rgba(0, 0, 0, 0) 87.368%, rgba(0, 0, 0, 0) 88.421%, rgba(100, 100, 225, 0.25) 88.421%, rgba(100, 100, 225, 0.25) 91.579%, rgba(0, 0, 0, 0) 91.579%, rgba(0, 0, 0, 0) 92.632%, rgba(100, 100, 225, 0.25) 92.632%, rgba(100, 100, 225, 0.25) 95.789%, rgba(0, 0, 0, 0) 95.789%, rgba(0, 0, 0, 0) 96.842%, rgba(100, 100, 225, 0.25) 96.842%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.158%, rgba(0, 0, 0, 0) 3.158%, rgba(0, 0, 0, 0) 4.211%, rgba(100, 100, 225, 0.25) 4.211%, rgba(100, 100, 225, 0.25) 7.368%, rgba(0, 0, 0, 0) 7.368%, rgba(0, 0, 0, 0) 8.421%, rgba(100, 100, 225, 0.25) 8.421%, rgba(100, 100, 225, 0.25) 11.579%, rgba(0, 0, 0, 0) 11.579%, rgba(0, 0, 0, 0) 12.632%, rgba(100, 100, 225, 0.25) 12.632%, rgba(100, 100, 225, 0.25) 15.789%, rgba(0, 0, 0, 0) 15.789%, rgba(0, 0, 0, 0) 16.842%, rgba(100, 100, 225, 0.25) 16.842%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 24.211%, rgba(0, 0, 0, 0) 24.211%, rgba(0, 0, 0, 0) 25.263%, rgba(100, 100, 225, 0.25) 25.263%, rgba(100, 100, 225, 0.25) 28.421%, rgba(0, 0, 0, 0) 28.421%, rgba(0, 0, 0, 0) 29.474%, rgba(100, 100, 225, 0.25) 29.474%, rgba(100, 100, 225, 0.25) 32.632%, rgba(0, 0, 0, 0) 32.632%, rgba(0, 0, 0, 0) 33.684%, rgba(100, 100, 225, 0.25) 33.684%, rgba(100, 100, 225, 0.25) 36.842%, rgba(0, 0, 0, 0) 36.842%, rgba(0, 0, 0, 0) 37.895%, rgba(100, 100, 225, 0.25) 37.895%, rgba(100, 100, 225, 0.25) 41.053%, rgba(0, 0, 0, 0) 41.053%, rgba(0, 0, 0, 0) 42.105%, rgba(100, 100, 225, 0.25) 42.105%, rgba(100, 100, 225, 0.25) 45.263%, rgba(0, 0, 0, 0) 45.263%, rgba(0, 0, 0, 0) 46.316%, rgba(100, 100, 225, 0.25) 46.316%, rgba(100, 100, 225, 0.25) 49.474%, rgba(0, 0, 0, 0) 49.474%, rgba(0, 0, 0, 0) 50.526%, rgba(100, 100, 225, 0.25) 50.526%, rgba(100, 100, 225, 0.25) 53.684%, rgba(0, 0, 0, 0) 53.684%, rgba(0, 0, 0, 0) 54.737%, rgba(100, 100, 225, 0.25) 54.737%, rgba(100, 100, 225, 0.25) 57.895%, rgba(0, 0, 0, 0) 57.895%, rgba(0, 0, 0, 0) 58.947%, rgba(100, 100, 225, 0.25) 58.947%, rgba(100, 100, 225, 0.25) 62.105%, rgba(0, 0, 0, 0) 62.105%, rgba(0, 0, 0, 0) 63.158%, rgba(100, 100, 225, 0.25) 63.158%, rgba(100, 100, 225, 0.25) 66.316%, rgba(0, 0, 0, 0) 66.316%, rgba(0, 0, 0, 0) 67.368%, rgba(100, 100, 225, 0.25) 67.368%, rgba(100, 100, 225, 0.25) 70.526%, rgba(0, 0, 0, 0) 70.526%, rgba(0, 0, 0, 0) 71.579%, rgba(100, 100, 225, 0.25) 71.579%, rgba(100, 100, 225, 0.25) 74.737%, rgba(0, 0, 0, 0) 74.737%, rgba(0, 0, 0, 0) 75.789%, rgba(100, 100, 225, 0.25) 75.789%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.158%, rgba(0, 0, 0, 0) 83.158%, rgba(0, 0, 0, 0) 84.211%, rgba(100, 100, 225, 0.25) 84.211%, rgba(100, 100, 225, 0.25) 87.368%, rgba(0, 0, 0, 0) 87.368%, rgba(0, 0, 0, 0) 88.421%, rgba(100, 100, 225, 0.25) 88.421%, rgba(100, 100, 225, 0.25) 91.579%, rgba(0, 0, 0, 0) 91.579%, rgba(0, 0, 0, 0) 92.632%, rgba(100, 100, 225, 0.25) 92.632%, rgba(100, 100, 225, 0.25) 95.789%, rgba(0, 0, 0, 0) 95.789%, rgba(0, 0, 0, 0) 96.842%, rgba(100, 100, 225, 0.25) 96.842%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.158%, rgba(0, 0, 0, 0) 3.158%, rgba(0, 0, 0, 0) 4.211%, rgba(100, 100, 225, 0.25) 4.211%, rgba(100, 100, 225, 0.25) 7.368%, rgba(0, 0, 0, 0) 7.368%, rgba(0, 0, 0, 0) 8.421%, rgba(100, 100, 225, 0.25) 8.421%, rgba(100, 100, 225, 0.25) 11.579%, rgba(0, 0, 0, 0) 11.579%, rgba(0, 0, 0, 0) 12.632%, rgba(100, 100, 225, 0.25) 12.632%, rgba(100, 100, 225, 0.25) 15.789%, rgba(0, 0, 0, 0) 15.789%, rgba(0, 0, 0, 0) 16.842%, rgba(100, 100, 225, 0.25) 16.842%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 24.211%, rgba(0, 0, 0, 0) 24.211%, rgba(0, 0, 0, 0) 25.263%, rgba(100, 100, 225, 0.25) 25.263%, rgba(100, 100, 225, 0.25) 28.421%, rgba(0, 0, 0, 0) 28.421%, rgba(0, 0, 0, 0) 29.474%, rgba(100, 100, 225, 0.25) 29.474%, rgba(100, 100, 225, 0.25) 32.632%, rgba(0, 0, 0, 0) 32.632%, rgba(0, 0, 0, 0) 33.684%, rgba(100, 100, 225, 0.25) 33.684%, rgba(100, 100, 225, 0.25) 36.842%, rgba(0, 0, 0, 0) 36.842%, rgba(0, 0, 0, 0) 37.895%, rgba(100, 100, 225, 0.25) 37.895%, rgba(100, 100, 225, 0.25) 41.053%, rgba(0, 0, 0, 0) 41.053%, rgba(0, 0, 0, 0) 42.105%, rgba(100, 100, 225, 0.25) 42.105%, rgba(100, 100, 225, 0.25) 45.263%, rgba(0, 0, 0, 0) 45.263%, rgba(0, 0, 0, 0) 46.316%, rgba(100, 100, 225, 0.25) 46.316%, rgba(100, 100, 225, 0.25) 49.474%, rgba(0, 0, 0, 0) 49.474%, rgba(0, 0, 0, 0) 50.526%, rgba(100, 100, 225, 0.25) 50.526%, rgba(100, 100, 225, 0.25) 53.684%, rgba(0, 0, 0, 0) 53.684%, rgba(0, 0, 0, 0) 54.737%, rgba(100, 100, 225, 0.25) 54.737%, rgba(100, 100, 225, 0.25) 57.895%, rgba(0, 0, 0, 0) 57.895%, rgba(0, 0, 0, 0) 58.947%, rgba(100, 100, 225, 0.25) 58.947%, rgba(100, 100, 225, 0.25) 62.105%, rgba(0, 0, 0, 0) 62.105%, rgba(0, 0, 0, 0) 63.158%, rgba(100, 100, 225, 0.25) 63.158%, rgba(100, 100, 225, 0.25) 66.316%, rgba(0, 0, 0, 0) 66.316%, rgba(0, 0, 0, 0) 67.368%, rgba(100, 100, 225, 0.25) 67.368%, rgba(100, 100, 225, 0.25) 70.526%, rgba(0, 0, 0, 0) 70.526%, rgba(0, 0, 0, 0) 71.579%, rgba(100, 100, 225, 0.25) 71.579%, rgba(100, 100, 225, 0.25) 74.737%, rgba(0, 0, 0, 0) 74.737%, rgba(0, 0, 0, 0) 75.789%, rgba(100, 100, 225, 0.25) 75.789%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.158%, rgba(0, 0, 0, 0) 83.158%, rgba(0, 0, 0, 0) 84.211%, rgba(100, 100, 225, 0.25) 84.211%, rgba(100, 100, 225, 0.25) 87.368%, rgba(0, 0, 0, 0) 87.368%, rgba(0, 0, 0, 0) 88.421%, rgba(100, 100, 225, 0.25) 88.421%, rgba(100, 100, 225, 0.25) 91.579%, rgba(0, 0, 0, 0) 91.579%, rgba(0, 0, 0, 0) 92.632%, rgba(100, 100, 225, 0.25) 92.632%, rgba(100, 100, 225, 0.25) 95.789%, rgba(0, 0, 0, 0) 95.789%, rgba(0, 0, 0, 0) 96.842%, rgba(100, 100, 225, 0.25) 96.842%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}

/* line 40, ../../app/stylesheets/screen.scss */
#container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
}

/* line 47, ../../app/stylesheets/screen.scss */
#header {
  padding: 10px;
  background-color: #595241;
  color: white;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  font-weight: bold;
  min-height: 20px;
}
/* line 55, ../../app/stylesheets/screen.scss */
#header #logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
}
/* line 59, ../../app/stylesheets/screen.scss */
#header #nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
  text-align: center;
}
/* line 61, ../../app/stylesheets/screen.scss */
#header #nav li {
  padding-right: 40px;
}
/* line 67, ../../app/stylesheets/screen.scss */
#header #user {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 0;
  text-align: right;
}
/* line 72, ../../app/stylesheets/screen.scss */
#header a {
  text-decoration: none;
  color: inherit;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#header a:hover {
  text-decoration: underline;
}
/* line 77, ../../app/stylesheets/screen.scss */
#header ul {
  list-style-type: none;
}
/* line 5, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#header ul, #header ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}

/* line 83, ../../app/stylesheets/screen.scss */
#content {
  padding-left: 8.418%;
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.138%;
  margin-right: 0;
  padding-right: 8.418%;
}

/* line 89, ../../app/stylesheets/screen.scss */
#footer {
  padding-left: 8.418%;
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.138%;
  margin-right: 0;
  padding-right: 8.418%;
  background-color: #b8ae9c;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../.rvm/gems/ruby-1.9.2-p290@pointilist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
