h1, h2, #navigation, #team_navigation {
    font-family: Optima, Gill Sans, Futura, sans-serif;
}

body {
    font-family: Adobe Caslon Pro, Adobe Garamond Pro, Garamond, Georgia, serif;
}

ul#navigation {
    padding-left: 0;
}

ul#navigation li {
    margin-left: 1em;
    list-style: none;
    display: inline;
}

ul#navigation a {
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid #777;
    color: black;
    background-color: #f0f8ff;
}

ul#navigation a.current {
    background-color: white;
}

ul#team_navigation {
    padding-left: 0;
    margin-top:  2em;
}

ul#team_navigation li {
    margin-left: 1em;
    list-style: none;
    display: inline;
}

ul#team_navigation a {
    padding: 0.2em 1em 0.2em 1em;
    border-bottom: 1px dotted #777;
    color: black;
    background-color: #f0f8ff;
}

ul#team_navigation a.current {
    background-color: white;
}

a {
    text-decoration: none;
    color: #193c59;
}

#average_burn_rate, #average_cycle_time {
    float: right;
}

tr:hover {
    background-color: #f0f8ff;
}

tr:hover th {
    background-color: #ffffff;
}

tr.underestimated {
    background-color: #ffe8e8;
}

tr.overestimated {
    background-color: #ffffe0;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th {
    text-align: center;
    border-bottom: dotted black 1px;
    vertical-align: bottom;
}

td {
    text-align: right;
}

td.actions {
    text-align: center;
}

td.story, td.title, td.description, td.team {
    text-align: left;
}

#estimation_view .group {
    clear: both;
}

#estimation_view .story {
    position: relative;
    font-family: Optima, Gill Sans, Futura, sans-serif;
    border: 1px dotted black;
    font-size: 24pt;
    width: 11em;
    height: 6em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
}

#estimation_view .title {
    text-align: center;
}

#estimation_view .story .estimate {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-weight: bold;
    text-align: right;
    padding-top: 15pt;
}

#estimation_view .estimate .under {
    font-size: 12pt;
    font-weight: normal;
    color: #500000;
}

#estimation_view .estimate .over {
    font-size: 12pt;
    font-weight: normal;
    color: #505000;
}

#dashboard em {
    font-style: normal;
    font-size: 48pt;
}
