@import "blueprint";

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-print(true); 
}

#header, #footer, #sidebar {
  display: none;
}

#estimation_view {
  .group {
      padding-left: 0; /* Clear UL defaults */
      clear: both;
      page-break-after: always;
      page-break-inside: avoid;
  }

  h2 {
      display: none;
  }

  .story {
      list-style: none;
      position: relative;
      font-family: Optima, Gill Sans, Futura, sans-serif;
      border: 1px dotted black;
      font-size: 12pt;
      width: 11em;
      height: 6em;
      padding: 1em;
      margin: 0 1em 1em 0;
      float: left;
  }
  
  .title {
      text-align: center;
  }

  .story .estimate {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      font-weight: bold;
      text-align: right;
      padding-top: 15pt;
  }

  .estimate .under {
      font-size: 12pt;
      font-weight: normal;
      color: #500000;
  }

  .estimate .over {
      font-size: 12pt;
      font-weight: normal;
      color: #505000;
  }
}




