// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";
@import "blueprint/typography";
@import "blueprint/utilities";
@import "blueprint/debug";
@import "blueprint/interaction";
@import "blueprint/form";

// Use this for navigation bar
@import "compass/typography/lists";

// Use this for hovering
@import "compass/typography/links/hover-link";

@import "blueprint/liquid";

@import "compass/css3/box-shadow";

$blueprint-liquid-container-width: 80%;

//@import "compass/layout/grid-background";
//$grid-background-force-fluid: true;



// Tech office from kuler
$scheme-1: rgb(89,82,65); // dark gray
$scheme-2: rgb(184,174,156); // light gray
$scheme-3: rgb(255,255,255); // white
$scheme-4: rgb(172,207,204); // light blue
$scheme-5: rgb(138,9,23); // red

$header-color: $scheme-1;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  background-color: $scheme-4;
}

#container {
  @include container;
  background-color: $scheme-3;
}

#header {
  padding: 10px;
  background-color: $header-color;
	color: $scheme-3;
  @include single-box-shadow; 
	font-weight: bold;
	min-height: 20px;
  
  #logo {
    @include column(8);
  }
  
  #nav {
    @include column(8);
    @include inline-list;
    li {
      padding-right: 40px;
    }
    text-align: center;
    min-height: 20px;
  }
  
  #user {
    @include column(8, true);
    background-color: $header-color;
    text-align: right;
    #signout {
      display: none;
      padding: 5px;
    }
  }
    
	a {
		@include hover-link;
		color: inherit;
	}

}

#content {
  @include prepend(2);
  @include column(20,true);
  @include append(2);
}

#footer {
  @include prepend(2);
  @include column(20,true);
  @include append(2);
  background-color: $scheme-2;
}

#estimation_view {
  h2 {
    float: left;
    font-size: 36pt;
    margin: 0 12pt 0 0;
  }

  .story {
      list-style: none;
      font-size: 14pt;
      line-height: 1.5em;
  }
  
  .title, .estimate {
    display: inline;
  }    

  .estimate {
    font-size: 0.8em;
    font-weight: normal;
  }


  .estimate .under {
      color: #500000;
  }

  .estimate .over {
      color: #505000;
  }

}

form {
  @include blueprint-form; 
}
