// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Use this for navigation bar
@import "compass/typography/lists";

// Use this for hovering
@import "compass/typography/links/hover-link";

@import "blueprint/liquid";

$blueprint-liquid-container-width: 100%;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  
}

#container {
  @include container;
}

#header {
  padding: 10px;
  background-color: black;
  min-height: 20px;
  
  #logo {
    @include column(8);
  }
  
  #nav {
    @include column(8);
  }
  
  #user {
    @include column(8, true);
  }
    
	a {
		@include hover-link;
		color: white;
	}
	
	ul {
		@include inline-list;
		li {
		  padding: 0px 20px;
		}
	}
	
	color: white;
	font-weight: bold;
}

#content {
  @include prepend(2);
  @include column(20,true);
  @include append(2);
}

form.bp {
  @include blueprint-form; }
