- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .settings').addClass('active');
    });

.page-header
  %h1
    Settings
    
=form_for current_user, :url => settings_update_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :target_point_size, 'Target point size (hours)'
      != f.number_field :target_point_size, :size => 6
  .actions
    != f.submit 'Save', class: 'btn primary'
