.table-div{:style => 'width:100%; display:none;'}
  %table.project-table.table.table-striped.table-condensed{:data => { :pid => "#{project.id}", :hidden => "true"}}
    %thead
      %th.favorite{:style => 'width:25px'}
      %th.title{:style => 'width:150px'} Title
      %th.created_at{:style => 'width:130px'} Created At
      %th.created_by{:style => 'width:100px'} Created By
      %th.category{:style => 'width:100px'} Category
      %th.rating Rating
      %th.avg_rating Avg. Rating
      %th.comments{:style => 'width:80px'}
    %tbody
      = render :partial => 'idea', :collection => project.ideas.order("title ASC")