=form_for current_user.stories.build, :url => new_interactive_stories_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :title
      != f.text_field :title, :size => 60
  .actions
    != f.submit "Start a new estimate", :class => 'btn primary'
