%table#stories
  %tr
    %th.title
      Title
    %th.team
      Team
    %th.estimate
      Estimate
    %th.started
      Started
    %th.finished
      Finished
    %th.cycle_time
      Cycle Time
    %th.actions
  - if @editable_story.new_record?
    = render 'story', :story => @editable_story
  - else
    %tr
      %td.title
        &nbsp;
      %td.team
      %td.estimate
      %td.started
      %td.finished
      %td.cycle_time
      %td.actions
  = render :partial => 'story', :collection => @stories
= link_to 'Import stories from CSV file', import_path