- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .estimates').addClass('active');
    });

.page-header
  %h1
    Estimates

    
- if current_user.stories.empty?
  %p
    You haven't entered any estimates. Add one below, or 
    != link_to 'import them from a CSV file', new_import_path

%h2 Start a new estimate

= render :partial => 'new_interactive_form'
    
.row
  .span14
    %table#stories
      %tr
        %th.title Title
        %th.estimate Estimate
        %th.started Started
        %th.finished Finished
        %th.hours_worked Hours Worked
        %tr{:class => cycle('odd', 'even')}
          %td.title
            != link_to '(Add new)', new_story_path      
          %td.estimate
          %td.started
          %td.finished
          %td.hours_worked
      != render :partial => 'story', :collection => @stories
