%table#stories
  %tr
    %th.title
      Title
    %th.estimate
      Estimate
    %th.started
      Started
    %th.finished
      Finished
    %th.cycle_time
      Cycle Time
    %th.actions
  = render 'story', :story => @new_story
  = render :partial => 'story', :collection => @stories
