- content_for :head do
  :javascript

    $(document).ready(function() {
      $('.subnav .estimates').addClass('active');
      $('form#new_story').submit(function() {
          if ($('#new_story_title')[0].value == '') {
              $('.alert-message.error').show();
              return false;
          }
          return true;
      });
    });

- if flash.key? :notice
  .alert-message.success.fade.in{"data-alert" => "alert"}
    %a.close{:href=>"#"}
      x
    = flash[:notice]

.alert-message.error.fade.in{"data-alert" => "alert", :style => "display:none;"}
  %a.close{:href=>"#"}
    x
  You need to add a story title.


%h2 Start a new estimate

=form_for current_project.stories.build, :url => new_interactive_project_stories_path, :html => {:class => 'form-stacked'} do |f|
  %fieldset
    .clearfix
      != f.label :title
      != f.text_field :title, :class => 'span14', :id => 'new_story_title'
      != f.submit "Estimate", :class => 'btn primary span2'

