%table
  %tr
    %th Story
    %th Days for <br> Last 5 Points
    %th Days for <br> Last 15 Points
  - @cycle_times.each do |cycle_time|
    %tr
      %td
        != format_title cycle_time.story
      %td
        = cycle_time.for_points 5
      %td
        = cycle_time.for_points 15
