#estimation_view
  .group
    .story
      .title On K1 Input, show last year's ending balance by input for beginning balance.
      .estimate 2
    .story
      .title Add a "Tax Return" document type to FS callsheet notes
      .estimate
        %span.under (underestimated at 1/2)
        2
    .story
      .title Track Tax Return Approved Date
      .estimate 2
  .group
    .story
      .title On K1 Input, show last year's ending balance by input for beginning balance.
      .estimate 1
    .story
      .title Add a "Tax Return" document type to FS callsheet notes
      .estimate
        1
    .story
      .title Track Tax Return Approved Date
      .estimate 1
  .group
    .story
      .title On K1 Input, show last year's ending balance by input for beginning balance.
      .estimate
        %span.over (overestimated at 1)
        1/2
    .story
      .title Add a "Tax Return" document type to FS callsheet notes
      .estimate 1/2
    .story
      .title Track Tax Return Approved Date
      .estimate 1/2
