#estimation_view
  - @groups.each do |group|
    %ul.group
      %h2
        = heading(group)
      - group.each do |story|
        %li.story
          .title
            = story.title
          .estimate
            != story.under_or_over_html
            %span.calculated
              = story.estimate
