- content_for :head do
  :javascript
    $(document).ready(function() {
      $('.nav .tool').addClass('active');
    });

.page-header
  %h1
    Tool

#estimation_view
  - @groups.each do |bucket, examples|
    .row
      .span14
        %ul.group
          %h2
            = bucket
          - examples.each do |example|
            %li.story
              .title
                = example.title
