#estimation_view
  - @groups.each do |group|
    .group
      - group.each do |story|
        .story
          .title
            = story.title
          .estimate
            != story.under_or_over
            = story.estimate
